* {
    background-color: darkturquoise;
    margin: 0;
}

body {
    font-size: 16px;
}

h1 {
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 3em;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#brown {
    background-color: brown;
}