.super-mario {
    width: 200px;
    position: absolute;
    margin-top: 0px;
    margin-left: 15px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    margin-top: 300px;
    margin-left: 40px;
  }
  
  .baloon {
    position: absolute;
    margin-top: 0px;
    margin-left: 300px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    margin-top: 50px;
    margin-left: 320px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    margin-top: 230px;
    margin-left: 580px;
  }